#buttonsOC {
    text-align: center;
}

body {
    background: linear-gradient(-45deg, #000000, #010938b7);
    background-size: 400% 400%;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#graphsArea {
    background-color: azure;
    margin-top: 100px;
    border-radius: 15px;
}